@import url(http://fonts.googleapis.com/css?family=Roboto&subset=latin,cyrillic);
@font-face {
	font-family: 'fontello';
	src: url('../font/fontello.eot?13471378');
	src: url('../font/fontello.eot?13471378#iefix') format('embedded-opentype'),
		url('../font/fontello.woff?13471378') format('woff'),
		url('../font/fontello.ttf?13471378') format('truetype'),
		url('../font/fontello.svg?13471378#fontello') format('svg');
	font-weight: normal;
	font-style: normal;
}
$border: 2px solid #6C7A89;
$border-radius:4px;

*{
	box-sizing:border-box;
	font-family: 'Roboto', sans-serif;
}
body{
	background-color:#ABB7B7;
}
[class*='form']{
	display:block;
	margin: auto;
}
#messenger{
	width: 330px; 
	margin:auto; 
	padding: 5px;
	border: 1px solid #6C7A89;
	background: #E74C3C;
	color:#fff;
	text-align:center;
	display:none;
	}
.feedback__form{
	background-color:#DADFE1;
	width:500px;
	height:540px;
	position: absolute;
	top:0;left:0;right:0;bottom:0;
	border:$border;
	border-radius:$border-radius;
	padding-top:10px;
}
.form__label{
	font-weight:900;
	font-size:1.2em;
	color:#6C7A89;
	text-align:center;
	margin-bottom:5px;
}
.form__input{
	border:$border;
	border-radius:$border-radius;
	width:366px;
	height:39px;
	padding-left:10px;
	padding-bottom:5px;
	margin-bottom:10px;
	}
		.has-error{
		border:2px solid red;
	}
	.has-success{
		border:2px solid green;
	}
.form__message{
	border:$border;
	border-radius:$border-radius;
	padding-left:10px;
	padding-top:10px;
	margin-bottom:10px;
	}

/*Стили для плейсхолдеров*/
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
	color: #3ba8c0;
	font-size: 16px;
	text-align: left;
	opacity: 1;
	transition: opacity 0.3s ease; }

input::-moz-placeholder, textarea::-moz-placeholder {
	color: #3ba8c0;
	font-size: 16px;
	text-align: left;
	opacity: 1;
	transition: opacity 0.3s ease; }

input:-moz-placeholder, textarea:-moz-placeholder {
	color: #3ba8c0;
	font-size: 16px;
	text-align: left;
	opacity: 1;
	transition: opacity 0.3s ease; }

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
	color: #3ba8c0;
	font-size: 16px;
	text-align: left;
	opacity: 1;
	transition: opacity 0.3s ease; }

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
	opacity: 0;
	transition: opacity 0.3s ease; }

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
	opacity: 0;
	transition: opacity 0.3s ease; }

input:focus:-moz-placeholder, textarea:focus:-moz-placeholder {
	opacity: 0;
	transition: opacity 0.3s ease; }

input:focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder {
	opacity: 0;
	transition: opacity 0.3s ease; }

/*Ситили для звезд рейтинга*/
.form__rating{
	font-family: 'fontello';
	margin:0 auto;
	&>fieldset{
		border:none;
		display:inline-block;
		margin-left:25%;
		&:not(:checked)>input{
			position:absolute;
			top:-9999px;
			clip:rect(0, 0, 0, 0);
		}
		&:not(:checked)>label{
			float:right;
			width:1.4em;
			padding:0 0.5em;
			overflow: hidden;
			white-space:nowrap;
			cursor:pointer;
			font-size:200%;
			color:#E87E04;
			&:before{
				font-family: "fontello";
				font-style: normal;
				font-weight: normal;
				speak: none;
				content:'\e807';
			}
			&:hover, &:hover~label{
				color:#E87E04;
				text-shadow: 0 0 3px #E87E04;
			}
			&:hover:before, &:hover~label:before{
				content: '\e806';
				font-family: "fontello";
				font-style: normal;
				font-weight: normal;
				speak: none;
			}
		}
	}
	&> fieldset > input:checked ~ label:before{
		content: '\e806';
	}
	&>fieldset>label:active{
		position:relative;
		top:2px;
	}
}
/* Кнопка отправки */
.form__submit{
	border:none;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	white-space:nowrap;
	font-size:16px;
	color: #fff;
	padding: 12px 24px;
	border-radius:$border-radius;
	background-color: #3498DB;
	border-bottom: 2px solid #336E7B;
	outline: 0;
	&:hover, &:focus, &:active{
		сolor: #fff;
		background-color: #52B3D9;
		border-bottom: 2px solid #336E7B;
		outline: none;
	}
}


